In [6]:
import numpy as np
import pandas as pd
import xlsxwriter

In [7]:
data_dyn1 = pd.read_csv("archived/cro_dyn_fix_ex1.csv", index_col=0)
data_dyn2 = pd.read_csv("archived/cro_dyn_fix_ex2.csv", index_col=0)
data_dyn = pd.concat([data_dyn1, data_dyn2])
data_dyn

             function  operator          best          mean           std
0              Sphere  4DE_0123  1.327652e-71  1.747074e-69  3.680158e-69
1              Sphere   3DE_012  2.534799e-64  2.027803e-36  6.083407e-36
2              Sphere   3DE_013  1.995830e-21  4.933650e-20  4.986354e-20
3              Sphere   3DE_023  9.907250e-88  2.033415e-85  3.992940e-85
4              Sphere   3DE_123  4.205119e-81  5.388133e-59  1.616439e-58
..                ...       ...           ...           ...           ...
55  ExpandedShafferF6    2DE_23  3.472502e-01  3.472537e-01  8.001347e-06
56  ExpandedShafferF6     1DE_0  4.536248e-01  5.135820e-01  4.568174e-02
57  ExpandedShafferF6     1DE_1  7.083095e-01  7.178216e-01  5.533328e-03
58  ExpandedShafferF6     1DE_2  3.472502e-01  3.504624e-01  9.636479e-03
59  ExpandedShafferF6     1DE_3  3.472502e-01  3.472502e-01  7.325727e-08

[211 rows x 5 columns]

In [8]:
data_nodyn1 = pd.read_csv("archived/cro_nodyn_fix_ex1.csv", index_col=0)
data_nodyn2 = pd.read_csv("archived/cro_nodyn_fix_ex2.csv", index_col=0)
data_nodyn = pd.concat([data_nodyn1, data_nodyn2])
data_nodyn

             function  operator          best          mean           std
0              Sphere  4DE_0123  3.857970e-45  5.492641e-44  5.350365e-44
1              Sphere   3DE_012  6.199567e-46  4.384875e-45  3.447087e-45
2              Sphere   3DE_013  2.633010e-14  1.303911e-13  9.429589e-14
3              Sphere   3DE_023  1.625944e-55  1.470483e-54  1.736170e-54
4              Sphere   3DE_123  8.527151e-54  1.026042e-52  1.652800e-52
..                ...       ...           ...           ...           ...
55  ExpandedShafferF6    2DE_23  3.472502e-01  3.472502e-01  2.135279e-08
56  ExpandedShafferF6     1DE_0  4.836504e-01  5.273319e-01  3.666069e-02
57  ExpandedShafferF6     1DE_1  7.103262e-01  7.164266e-01  5.047750e-03
58  ExpandedShafferF6     1DE_2  3.472502e-01  3.472502e-01  4.900197e-09
59  ExpandedShafferF6     1DE_3  3.472502e-01  3.472503e-01  1.554791e-07

[211 rows x 5 columns]

In [9]:
data_classic1 = pd.read_csv("archived/cro_classic_fix_ex1.csv", index_col=0)
data_classic2 = pd.read_csv("archived/cro_classic_fix_ex2.csv", index_col=0)
data_classic = pd.concat([data_classic1, data_classic2])
data_classic

             function  operator          best          mean           std
0              Sphere  4DE_0123  2.023404e-48  6.888048e-36  1.969354e-35
1              Sphere   3DE_012  1.436601e-46  1.106757e-30  3.320272e-30
2              Sphere   3DE_013  5.891988e-17  1.960599e-11  5.473639e-11
3              Sphere   3DE_023  1.125096e-53  6.409192e-44  1.916917e-43
4              Sphere   3DE_123  6.656229e-59  4.351841e-41  1.305545e-40
..                ...       ...           ...           ...           ...
55  ExpandedShafferF6    2DE_23  3.472502e-01  3.472502e-01  1.454414e-08
56  ExpandedShafferF6     1DE_0  4.564976e-01  5.362064e-01  5.752861e-02
57  ExpandedShafferF6     1DE_1  6.977978e-01  7.169430e-01  8.672918e-03
58  ExpandedShafferF6     1DE_2  3.472502e-01  3.472502e-01  6.318863e-09
59  ExpandedShafferF6     1DE_3  3.472502e-01  3.472504e-01  1.751389e-07

[211 rows x 5 columns]

In [18]:
data_dyn_grouped = data_dyn.groupby(data_dyn["function"])
data_nodyn_grouped = data_nodyn.groupby(data_nodyn["function"])
data_classic_grouped = data_classic.groupby(data_classic["function"])

In [20]:
with pd.ExcelWriter("CRO_SL_python.xlsx", engine="xlsxwriter") as writer:
    dyn_format = writer.book.add_format({'bold': True, 'font_color': 'black', "bg_color": "#9dc3e6", 'left':1, 'right':1, 'bottom':1, 'num_format':'0.00E+00'})
    nodyn_format = writer.book.add_format({'bold': True, 'font_color': 'black', "bg_color": "#f8cbad", 'left':1, 'right':1, 'bottom':1, 'num_format':'0.00E+00'})
    classic_format = writer.book.add_format({'bold': True, 'font_color': 'black', "bg_color": "#ffd966", 'left':1, 'right':1, 'bottom':1, 'num_format':'0.00E+00'})
    average_format = writer.book.add_format({'bold': True, 'font_color': 'black', "bg_color": "#AAAAAA", 'left':1, 'right':1, 'bottom':1, 'num_format':'0.00E+00'})

    for i in pd.unique(data_dyn["function"]):
        table_dyn = data_dyn_grouped.get_group(i)
        table_dyn.pop("function")

        table_nodyn = data_nodyn_grouped.get_group(i)
        table_nodyn.pop("operator")
        table_nodyn.pop("function")

        table_classic = data_classic_grouped.get_group(i)
        table_classic.pop("operator")
        table_classic.pop("function")

        s_name = f"{i[:15]}(30); eval=3e5"
        
        table_dyn.to_excel(writer, sheet_name=s_name, index=False, startrow=1)
        table_nodyn.to_excel(writer, sheet_name=s_name, index=False, startrow=1, startcol=4)
        table_classic.to_excel(writer, sheet_name=s_name, index=False, startrow=1, startcol=7)

        writer.sheets[s_name].merge_range("B1:D1", "CRO_SL-Dyn")
        writer.sheets[s_name].merge_range("E1:G1", "CRO_SL")
        writer.sheets[s_name].merge_range("H1:J1", "CRO_SL-Classic")

        for col in "BCDEFGHIJ":
            writer.sheets[s_name].write_formula(f"{col}18:{col}18", "{" + f"=(AVERAGE({col}3:{col}17))" + "}", average_format)
        
        writer.sheets[s_name].conditional_format("B1:D17", {'type': 'cell', 'criteria': '!=', 'value': "Dummy",'format': dyn_format})
        writer.sheets[s_name].conditional_format("E1:G17", {'type': 'cell', 'criteria': '!=', 'value': "Dummy",'format': nodyn_format})
        writer.sheets[s_name].conditional_format("H1:J17", {'type': 'cell', 'criteria': '!=', 'value': "Dummy",'format': classic_format})